# 1. Mengen in Python

In [112]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

### Mengen zusammenführen

In [113]:
a | b

{1, 2, 3, 4, 5, 6}

In [114]:
a.union(b)

{1, 2, 3, 4, 5, 6}

### Teilmengen feststellen

In [115]:
c = {1, 2, 3}
d = {1, 2, 4, 3}

In [116]:
c <= d

True

In [117]:
d <= c

False

In [118]:
d, a|b, d <= a | b

({1, 2, 3, 4}, {1, 2, 3, 4, 5, 6}, True)

### Durchschnitt zweier Mengen

In [119]:
a & b

{3, 4}

In [120]:
c & d

{1, 2, 3}

In [121]:
c & (a|b)

{1, 2, 3}

In [122]:
c & a | b

{1, 2, 3, 4, 5, 6}

### Differenz zweier Mengen

In [123]:
a - b

{1, 2}

In [124]:
b - a

{5, 6}

In [125]:
b - a & c

set()

In [126]:
b - (a & c)

{4, 5, 6}

### exclusion

In [127]:
a ^ b

{1, 2, 5, 6}

### Mengen als Listen

In [128]:
for i in a:
    print(i, end=' -> ')

1 -> 2 -> 3 -> 4 ->

In [129]:
def union(a, b):
    c = a.copy()
    for i in b:
        if i not in a:
            c.add(i)
    return c

In [130]:
union(a, b), a, b

({1, 2, 3, 4, 5, 6}, {1, 2, 3, 4}, {3, 4, 5, 6})

# 2. Komprehension für Mengen

$
x \in B \\
x \in \mathbb{N} \\
2 \nmid x \\
B = { x \in {1,...,161}, 2 \nmid x}
$

In [133]:
B = {i for i in range(161 + 1) if i % 2 == 1}
B

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161}

In [141]:
A = {i for i in range(101)}
B = {i for i in A if i < 42 and i % 3 != 0}
B

{1,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 14,
 16,
 17,
 19,
 20,
 22,
 23,
 25,
 26,
 28,
 29,
 31,
 32,
 34,
 35,
 37,
 38,
 40,
 41}

In [150]:
# alle quadratzahlen von 0 bis 500
M = {i for i in range(0, 501) if (i**(1/2)) % 1 == 0}

In [151]:
M

{0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484}

### Doppelter Iterator in einer Komprehension

In [157]:
from fractions import Fraction

A = {1, 2, 5}
B = {3, 7, 9, 11}
C = {Fraction(i, j) for i in A for j in B}

C

{Fraction(1, 11),
 Fraction(1, 9),
 Fraction(1, 7),
 Fraction(2, 11),
 Fraction(2, 9),
 Fraction(2, 7),
 Fraction(1, 3),
 Fraction(5, 11),
 Fraction(5, 9),
 Fraction(2, 3),
 Fraction(5, 7),
 Fraction(5, 3)}